.App {
  text-align: center;
  overflow-x: hidden;
}

.App .wlc-anim {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #357ec7;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  color: #fff;
}
